@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(220, 220, 220);
    font-family: "poppins", monospace, sans-serif;
}
#title {
    text-align: center;
    padding: .8rem;
    background-color: rgb(207, 207, 207);
}
#main {
    display: flex;
    justify-content: center;
}
#img-div {
    display: inline-flex;
    margin: .5rem 5rem;
}
#img-caption, #tribute-info {
    margin: 2rem;
}
#tribute-info {
    background-color: rgb(196, 196, 196);
    padding: 1rem 1rem;
    border-radius: 1rem;
}
#image {
    display:block;
    height: auto;
    max-width: 100%;
    border-radius: 1rem;
}
.img-description {
    padding: .5rem 0;
}
.year-timeline {
    padding: .3rem;
}
li {
    margin-left: 2.5rem;
}
.italic {
    font-style: italic;
}
.quote {
    padding: 0 .5rem;
}


